<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zsf.m_ipc">

    <application
        android:name="com.zsf.application.BaseCommonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/m_ipc_text_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Common_AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".IPCActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".BasisDataService"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.zsf.m_ipc_BasisDataService"></action>
            </intent-filter>
        </service>
        <service android:name=".ComplexDataService"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.zsf.m_ipc_ComplexDataService"></action>
            </intent-filter>
        </service>
    </application>

</manifest>