<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zsf.fingerprint">
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <application
        android:theme="@style/Fingerprint_AppTheme"
        android:name=".m_fingerprint_unlock.FingerprintApplication"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".m_fingerprint_unlock.FingerprintActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>