<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zsf.fingerprint" >
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <application>
        <activity android:name=".m_fingerprint_unlock.FingerprintActivity"/>
    </application>
</manifest>
