<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zsf.test">

    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="test.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Common_AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".branch.kotlin.KotlinActivity"></activity>
        <activity android:name=".DemoMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 注册scheme -->
            <intent-filter>

                <!-- 必有项 -->
                <action android:name="android.intent.action.VIEW" />
                <!-- 表示该页面可以被隐式调用，必须加上该项 -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- BROWSABLE指定该Activity能被浏览器安全调用 -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 协议部分 -->
                <!-- 声明自定义scheme，类似于http, https -->
                <data
                    android:host="zsf"
                    android:scheme="arouter" />
            </intent-filter>
        </activity>
        <activity
            android:name=".branch.loader.LoaderMainActivity"
            android:label="@string/m_test_loader" />
        <activity
            android:name=".branch.arouter.view.ArouterActivity"
            android:label="@string/m_test_ARouter" />
        <activity
            android:name=".branch.arouter.view.GoArouterActivity"
            android:label="@string/m_test_ARouter_go_activity" />
        <activity
            android:name=".branch.arouter.view.LoginArouterActivity"
            android:label="@string/m_test_ARouter_interceptor_login" />
        <activity
            android:name=".branch.arouter.view.NeedLoginActivity"
            android:label="@string/m_test_ARouter_need_login_page" />
        <activity
            android:name=".branch.diffutil.DiffUtilActivity"
            android:label="@string/m_test_DiffUtil_page" />
        <activity
            android:name=".branch.memory.MemoryOptimizeActivity"
            android:label="@string/m_test_Memory_Optimize_page" />
    </application>
    <!--used to restart app-->
    <instrumentation
        android:name="com.zsf.test.branch.test.MyInstrumentation"
        android:targetPackage="${applicationId}" />


</manifest>